@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-effect *:hover {
  padding: 3px 6px 6px 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.525);
  transition-duration: 1s;
}
.poppins {
  font-family: var(--var-poppins);
}
@keyframes leftToright {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(80%);
  }
}

.hover-effect {
  animation-name: leftToright;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
